<!-- <angular-inheritance-nx-welcome></angular-inheritance-nx-welcome> -->

<div class="container">
    <angular-inheritance-success-card 
        cardHeading="Success Header" 
        cardDescription="Success cardDescription">
    </angular-inheritance-success-card>
    <angular-inheritance-info-card    
        cardHeading="Info Header" 
        cardDescription="Info cardDescription">
    </angular-inheritance-info-card>
    <angular-inheritance-alert-card   
        cardHeading="Alert Header" 
        cardDescription="Alert cardDescription">
    </angular-inheritance-alert-card>
    <angular-inheritance-warning-card 
        cardHeading="Warning Header" 
        cardDescription="Warning cardDescription">
    </angular-inheritance-warning-card>
</div>
<router-outlet></router-outlet>
